<div class="container mt-5">
    <h1 class="text-center mb-4">ติดต่อเรา</h1>
    <hr />
  
    <div class="row">
      <!-- ที่ตั้งของร้าน -->
      <div class="col-md-6">
        <h2 class="mb-3">ที่ตั้งของร้าน</h2>
        <p>
          ร้านบ้านจุนตาตั้งอยู่ที่:
          <br>123 ถนนสายหลัก, แขวงยานนาวา
          <br>กรุงเทพฯ 10120
          <br>ประเทศไทย
        </p>
        <!-- แผนที่ Google Maps -->
        <div class="map-container">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15504.177088732622!2d100.5010927609154!3d13.715768483088391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e298c8fa8d723b%3A0x40100b25de28e00!2z4LmB4LiC4Lin4LiH4Lii4Liy4LiZ4LiZ4Liy4Lin4LiyIOC5gOC4guC4leC4quC4suC4l-C4oyDguIHguKPguLjguIfguYDguJfguJ7guKHguKvguLLguJnguITguKMgMTAxMjA!5e0!3m2!1sth!2sth!4v1725628466182!5m2!1sth!2sth" 
            width="100%" 
            height="300" 
            style="border:0; border-radius: 10px;"
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
  
      <!-- เบอร์โทรศัพท์ -->
      <div class="col-md-6">
        <h2 class="mb-3">ติดต่อเรา</h2>
        <p>
          เบอร์โทรศัพท์: <a href="tel:+6621234567" class="btn btn-primary">+66 2 123 4567</a>
        </p>
      </div>
    </div>
</div>
