<p>ติดต่อเรา</p>
<hr/>
<div class = "row">
    <div class = "col-6">
        <h1>แผนที่</h1>
        <iframe src = "https://www.google.co.th/maps/place/%E0%B8%84%E0%B8%B8%E0%B8%93%E0%B9%80%E0%B8%9B%E0%B8%B4%E0%B9%89%E0%B8%A5+%E0%B8%AB%E0%B8%A1%E0%B8%B9%E0%B8%81%E0%B8%A3%E0%B8%B0%E0%B8%97%E0%B8%B0/@13.7820696,100.572549,17z/data=!4m6!3m5!1s0x30e29dd6bba6e215:0x3fe6183db9fb8ec0!8m2!3d13.7823632!4d100.5816855!16s%2Fg%2F1ptx919tx?hl=th&entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D"></iframe>
    </div>
</div>
<div class = "row">
    <div class = "col-6">
        <div class = "card">
            <h1>ที่อยู่ร้าน</h1>
        </div>
    </div>
</div>